---
Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
PointerAlignment: Left
ReferenceAlignment: Left
DerivePointerAlignment: false
SortIncludes: Never
IncludeBlocks: Preserve
SpaceBeforeParens: ControlStatements
Cpp11BracedListStyle: true
NamespaceIndentation: None
FixNamespaceComments: true
Standard: c++17
...
